<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StockWSSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="StockWSSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport authenticationScheme="Basic"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://clsmt.hyundai-dymos.com/services/StockWS.StockWSHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="StockWSSoap11Binding"
                contract="DymosWebService.StockWSPortType" name="StockWSHttpSoap11Endpoint" />
            <endpoint address="http://clsmt.hyundai-dymos.com/services/StockWS.StockWSHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="StockWSSoap12Binding"
                contract="DymosWebService.StockWSPortType" name="StockWSHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>